body{
    margin:0;
}

#container {
    width:960px;
    border: 3px solid black;
    margin:0 auto;
    margin-top: 20px;
}

#left{
    width:200px;
    height:400px;
    display:inline-block;
    background-color:#c9c ;
    vertical-align:top;

}
#left p {
    padding-left:10px;
}
#content{
   width:560px;
   height:400px;
   display:inline-block;
   margin-left:-4;
   vertical-align:top;

}

#content img{
    width:200px;
    margin-top:50px;
    margin-left:50px;
}

#right{
    width: 200px;
    height:400px;
    display:inline-block;
    background-color:#c9c;
    margin-left:-4;
    vertical-align:top;
    position:absolute;
    right:287px;
    top:23px;
}
