body{
    background-color: #F3C98B;
}

h1{
    background-color: #C46D5E;
    height:100px;
    width:100%;
    text-align: center;
    color:white;
}

#top img{
    height:500px;
    border-radius: 20%;
    margin:20px;
    float:right;
}

#description p{
    font-size:100px;
}

#blok{
    width:400px;
    height:180px;
    background-color: #C46D5E;
    border-radius:20%;
   float:left;
}

.recipe_details{
  text-align: center;
  color:white;
  font-size:20px ;
  float:left;
  margin-top: -10;
  margin-left:100px;
}

.ingredients{
    float:left;
    text-align: center;
}

.instructions{
    clear:both;
}
